* {
    padding: 0;
    margin: 0;
    color: #eee;
    font-family: 'Victor', sans-serif;
}
body {
    background-color: #fff;
}
@font-face {
    font-family: "Victor";
    src: url('victor-pixel.woff') format('woff');
}
#sidebar, #headerbar {
    background-color: #222;
    font-size: 22pt;
}
.number {
    margin-right: 64px;
}
#headerbar {
    padding: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 32px;
    z-index: 10;
    text-align: right;
}
#sidebar {
    width: 320px;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 10;
    padding: 16px;
}
#sidebar > #selection {
    height: 50%;
}
#sidebar > #missions {
    height: 50%;
}
tr, td, table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 0;
}
table {
    margin-top: 64px;
    margin-left: 352px;
}
#grid {
    transform-origin: top left;
}
img {
    width: 128px;
    height: 128px;
    image-rendering:-moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
a img:hover {
    opacity: 0.9;
}
.selected {
    opacity: 0.75;
}
.selected:hover {
    opacity: 0.65;
}
