* {
    padding: 0;
    margin: 0;
    color: #eee;
    font-family: 'Victor', sans-serif;
}
h1 {
    font-size: 60pt;
    margin-bottom: 48px;
}
@font-face {
    font-family: "Victor";
    src: url('victor-pixel.woff') format('woff');
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin-left: 16px;
    text-align: left;
}
#headerbar div {
    min-width: 80px;
    display: inline-block;
}
#headerbar img, #missions img {
    margin-right: 4px;
    height: 32px;
    width: 32px;
    vertical-align: bottom;
}
#missions div span {
    white-space:nowrap;
}
.red {
    color: #e21030;
}
.red img {
    filter: grayscale(100%); -webkit-filter: grayscale(100%)
}
#headerbar {
  overflow: visible;
}
#headerbar li .ressource-tooltip {
  display: none;
  position: absolute;
  top: 50px; right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}
#headerbar li:hover .ressource-tooltip {
  display: block;
}
#sidebar, #headerbar, body {
    font-size: 22pt;
    background-color: #222;
}
#sidebar, body {
    overflow: auto;
}
.number {
    margin-right: 64px;
}
#grid {
    position: absolute;
    top: 0;
    left: 416px;
    right: 0;
    bottom: 0;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}

#headerbar {
    padding: 0 48px;
    position: fixed;
    top: 0;
    right: 0;
    left: 416px;
    height: 40px;
    z-index: 10;
    text-align: right;
}

@media (min-width: 1600px) {
  #headerbar {
    height: 40px;
  }
}

@media (max-width: 1600px) {
  #headerbar {
    height: 80px;
  }
}

#sidebar {
    width: 384px;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 10;
    padding: 16px;
    background-image: url('assets/menubg.png');
    background-size: 196px 616px;
    image-rendering:-moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#sidebar > #missions {
    margin-bottom: 384px;
}
#missions > table {
    width: 100%;
}
#button {
    background-color: #222;
    padding: 4px 16px 32px 16px;
}


#sidebar > #buildmenu {
    position: absolute;
    bottom: 48px;
}
tr, td, table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
}
tr {
    line-height: 0;
}
div {
    line-height: 120%;
}
#grid table {
    background-color: white;
}
#grid {
    transform-origin: top left;
}
img {
    width: 128px;
    height: 128px;
    image-rendering:-moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#grid a img:hover {
    opacity: 0.9;
}
img.selected {
    opacity: 0.75;
}
img.selected:hover {
    opacity: 0.65 !important;
}
/*
.suspended::before {
    background-image: image('assets/pause.png');
    color: rgb(100%, 0%, 0%);
    color: rgba(100%, 0%, 0%, 0.75);
    opacity: 0.2;
}
*/
progress {
    /* Reset the default appearance */
    background-color: #222;
    appearance: none;
    color: darkred;
    border: 0;
    width: 100%;
    height: 40px;
}
progress::-webkit-progress-bar {
    /* Reset the default appearance */
    background-color: #222;
    appearance: none;
    color: darkred;
    border: 0;
    width: 100%;
    height: 40px;
}
progress::-moz-progress-bar {
    /* Reset the default appearance */
    background-color: darkred;
    appearance: none;
    color: darkred;
    border: 0;
    width: 100%;
    height: 40px;
}

progress::-webkit-progress-value {
    background: darkred;
}

progress::-moz-progress-value {
    background: darkred;
}

div#vulkan {
    position:relative;
}
div#vulkan > img {
    position: absolute;
    width: 512px;
    height: 512px;
}
#grid a img.selected:hover {
    opacity: 0.9;
}

/* tooltip */
.totooltip:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    margin-bottom: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}
.tooltip, #headerbar {
    background-color: rgba(0, 0, 0, 0.7);
}
div.tooltip {
    bottom: -2px;
    left: 416px;
}

.tooltip:hover {
    margin-top: -9999px; /* dirty hack to hide the tooltip */
}

/* tooltip ende */
