* {
    padding: 0;
    margin: 0;
    color: #eee;
    font-family: 'Victor', sans-serif;
}
@font-face {
    font-family: "Victor";
    src: url('victor-pixel.woff') format('woff');
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin-left: 32px;
}
#sidebar, #headerbar, body {
    font-size: 22pt;
    overflow: auto;
    background-color: #222;
}
.number {
    margin-right: 64px;
}
#grid {
    position: absolute;
    top: 48px;
    left: 416px;
    right: 0;
    bottom: 0;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
#headerbar {
    padding: 8px 32px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 32px;
    z-index: 10;
    text-align: right;
}
#sidebar {
    width: 384px;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 10;
    padding: 16px;
    margin-top: 48px;
}
#sidebar > #missions {
    margin-bottom: 384px;

}
#button
{
  border-radius: 5px;
  border: 2px solid #73AD21;
  padding: 15px;
  width: 300px;
  height: 15px;
}
#security_humans
{
  width: 49px;
  height: 49px;
}

#sidebar > #buildmenu {
    position: absolute;
    bottom: 90px;
}
tr, td, table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
}
tr {
    line-height: 0;
}
div {
    line-height: 120%;
}
#grid table {
    background-color: white;
}
#grid {
    transform-origin: top left;
}
img {
    width: 128px;
    height: 128px;
    image-rendering:-moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#grid a img:hover {
    opacity: 0.9;
}
.selected {
    opacity: 0.75;
}

.suspended::before {
    background-image: image('assets/pause.png');
    color: rgb(100%, 0%, 0%);
    color: rgba(100%, 0%, 0%, 0.75);
    opacity: 0.2;
}

div#vulkan {
    position:relative;
}
div#vulkan > img {
    position: absolute;
    width: 512px;
    height: 512px;
}
#grid a img.selected:hover {
    opacity: 0.9;
}

/* tooltip */
.totooltip:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    background: #403B3B;
    margin-bottom: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}
div.tooltip {
    bottom: -2px;
    left: 416px;
}

.tooltip:hover {
    margin-top: -9999px; /* dirty hack to hide the tooltip */
}

/* tooltip ende */
